@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f0f0;
  --foreground: #030418;
  --primary: #0c14b6;
  --secondary: #030418;
  --third: #0F172A;
  --fourth: #1E293B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030418;
    --foreground: #f0f0f0;
    --secondary: #040852;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
